*{
	margin: 0;
	padding: 0;
}
body{
	background:linear-gradient(120deg,red,purple);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: fixed;
	font-family: 'Aleo';
}
.container{
	position: absolute;
	top:20%;
	left:34%;
	z-index: 10;
	background-color: white;
	width: 400px;
	height: 370px;
	margin-left: 0px;
	box-shadow: 2px 0 0 28px  rgba(0,0,0.6,.25);
}
.input{
	display:block;
	padding: 60px;
	margin: 20px;
}
.mass,.mass-1,.mass-2{
	position: relative;
	top:40px;
	left: 30px;
	padding: 0px;
}
.mass,.mass-1{
	padding: 15px;
   margin-top: 20px; 
}
.weight,.height{
	padding-left: 10px;
	outline: none;
	border:none;
	transition: all 0.2s ease;
	border-bottom:purple 2px solid;
	transition: all 0.3s ease;

}
.weight:focus ,.height:focus{
	transform: translateX(10px);

}
 .mass p ,.mass-1 p{
 	display: inline;
 	text-transform: uppercase;
 }
 .container h2{
  position: relative;
  left:10px; 
  top:5px;
  text-align: center;
 }

 .b{
 	outline: none;
 	background:linear-gradient(120deg,purple,red);
 	border-radius: 60px;
 	padding: 20px;
 	border:none;
 	color: white;
 	text-transform: uppercase;
 	font-family: arial;
 	margin-left:120px;
 	margin-top:0px;
 }
 #out{
 	position: absolute;
 	top:320px;
 	left:97px;
 	text-decoration:underline 7px red ;
 }
 table{
 	border: 2px solid white;
 	border-collapse: collapse;
 	position: absolute;
 	top:100px;
 	left: 50px;
 	display: none;
 }
  table td{
  	text-align:left;
  	border:1px solid white;
  	padding: 4px 8px;
  }
  table  tr th{
  	text-align:center;
  	border:1px solid white;
  	padding: 4px 8px;
}
table tr:nth-child(odd) td{
	background-color: green;
}